:root{
    --primary-color: #5DB5E3;
    --bg-color: #fff;
    --alert-question: #438EF0;
    --primary-font-color:#29292E;
    --google-color:#ea4335;
    --font-color: #29292E;

    .dark{
        --primary-color: #585DD6;
        --bg-color: #36383F;
        --font-color: #fff;
        --alert-question: #438EF0;
        --google-color:#a11609;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f8f8f8;
    color: #29292e
}

p, span, h1,h2, .separator{
    color:var(--font-color)
}

body, input, button, textarea{
    font: 400 16px 'Roboto', sans-serif;
}

button{
    outline:none;
}